<?xml version="1.0"?>
<robot name="auto_driver" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find auto_driver_description)/urdf/auto_driver.xacro" />
  <xacro:include filename="$(find auto_driver_description)/urdf/auto_driver.ros2_control.xacro" />

  <link name="world"/>

  <xacro:auto_driver parent="world">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:auto_driver>

  <xacro:auto_driver_ros2_control name="auto_driver_ros2_control" />
</robot>